extends layout

block content
    h1 #{title}
    form(method='POST', action='/clubs/edit/'+club._id)
        br
        h1 #{title}
        br
        #form-group
            label Id kluba:
            input.form-control(name='id', type='text', value=club.id) 
        #form-group
            label Autor kluba:
            input.form-control(name='author', type='text', value=club.author) 
        #form-group
            label Ime kluba:
            input.form-control(name='name', type='text', value= club.name) 
        #form-group
            label Sport:
            input.form-control(name='sport_id', type='text', value= club.sport_id) 
        #form-group
            label Liga:
            input.form-control(name='league_id', type='text', value= club.league_id) 
        br
        input.btn.btn-primary(type='submit', value='Submit')
